<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mazarat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
				<key>dateExpires</key>
				<string>12/29/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
						<key>dateExpires</key>
						<string>12/29/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMHP29PLM9</string>
						<key>name</key>
						<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
						<key>dateExpires</key>
						<string>12/29/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMHP29PLM9</string>
						<key>name</key>
						<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
						<key>dateExpires</key>
						<string>12/29/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_select.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMHP29PLM9</string>
						<key>name</key>
						<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
						<key>dateExpires</key>
						<string>12/29/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMHP29PLM9</string>
						<key>name</key>
						<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0392212EC96E3C16335DE9594BB89D5215A3CA0</string>
						<key>dateExpires</key>
						<string>12/29/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMHP29PLM9</string>
						<key>name</key>
						<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XMHP29PLM9.com.marafi.mazarat</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XMHP29PLM9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>XMHP29PLM9.com.marafi.mazarat</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>da12a77b-b797-44ca-b23a-3a0b1f8c538e</string>
				<key>dateExpires</key>
				<string>12/29/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.marafi.mazarat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XMHP29PLM9</string>
				<key>name</key>
				<string>MARAFI KUWAITI UNITED COMPANY WLL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
